
    <form method='POST'>
         <table style="width:98%;margin:auto auto;position:relative;">
            <tr>
                <td colspan='3'>Product Name<input type='text'name='tb_prodDesc'placeholder='Prduct Description'></td>
            </tr>
            <tr>
                <td>Quantity:<input type='text'name='tb_prodQuantity'></td>
                <td> Unit<input type='text'name='tb_prodUnit'></td></td>
            </tr>
            <tr>
                <td>
                    Category<select name='cb_prodCategory'>
                        <option>Laboratory</option>
                        <option>One Agno</option>
                    </select>       
                </td>
                <td><input type='date'name='dtp_prodExpiry'></td>
            </tr>
            <tr>
                <input type='submit'name='btn_save'value='Add Product'>
            </tr>
            <tr>
                <input type='submit'name='btn_clear'value='Clear Fields'>
            </tr>
         </table>
         
    </form>
